.frame{
  display:grid;
  grid-template-columns:1fr 4fr;
}
.manu1{text-decoration: none;}
.manu1{color: black;}
.manu2{text-decoration: none;}
.manu2{color: black;}
.manu3{text-decoration: none;}
.manu3{color: black;}
.crime{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: center;
  font-weight: 1000;
  grid-gap: 10px;
  border-bottom: 1px;
  padding-bottom: 20px;
}
@media(max-width:800px) {.frame{display: block;}
.crime{display: block;}
}
